# --------------------
# Node Files
# --------------------
node_modules
data


# --------------------
# Bower Files
# --------------------
client/bower_components/


# --------------------
# Global Compiled Files
# --------------------
client/styles/compiled
client/scripts/compiled


# --------------------
# Experimental Files
# --------------------
playground
